.options {
  font-size: 20px;
}
.option:hover {
  background-color: #489689;
  color: #fff;
  cursor: pointer;
}
.option-active {
  background-color: #489689;
  color: #fff;
  cursor: pointer;
}
.submit-button {
  border-radius: 0;
  background-color: #489689;
}
.question-results {
  font-size: 26px;
}

.question-results-true{
  color: green;
}
.question-results-error {
  color: red;
}
.score {
  color: #efb576;
}
.res-option {
  cursor: pointer;
}
