{% extends "layout.html" %}

{% block content %}

<!-- jquery -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<div id = 'content'>


<div id="page_title">
        Balance Sheet Topics
</div>

<div id="text_content">
    Select which topic you want to review:  
</div>

<div>
    <button class = "button" style="height:50px;width:220px" id = "style_buttons" href="/learn1/">Asset Entry</button>
</div>

<div>
    <button class = "button" style="height:50px;width:220px" id = "style_buttons" href="/start">Liability Entry</button>
</div>

<div>
    <button class = "button" style="height:50px;width:220px" id = "style_buttons" href="/start">Equity Entry</button>
</div>

<div>
    <a href="/learn2">
      <button class = "button" style="height:50px;width:220px" id = "style_buttons" href="/learn2">General Rule</button>
    </a>
</div>

<div>
    <a href="/rulesRes">
        <button class = "button" style="height:50px; width:220px" id = "style_buttons" href="/rulesRes">Additional Resources</button>
    </a>
</div>

</div>



{% endblock %}