{% extends "layout.html" %}

{% block content %}

<!-- jquery -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<div id = 'content'>


<div>
    <h1>
    </h1>
</div>

<div class = "row">
    <div class="col-md-3">
        <div id="learn_1"> 
        </div>
    </div>
    <div class="col-md-3">
        <div id="learn_2"> 
        </div>
    </div>
    <div class="col-md-3">
        <div id="learn_3"> 
        </div>
    </div>
    <div class="col-md-3">
        <div id="learn_4"> 
        </div>
    </div>
</div>
</div>

<div id = "next_container">
    <button class = "button" id = "next">Next</button>
</div>

{% endblock %}
