{% extends "layout.html" %}

{% block content %}

<!-- jquery -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


<link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
<div id = 'content'>


<div id="page_title">
        Analyzing Balance Sheet
</div>

<div id="text_content">
    Learn how to analyze a balance sheet via this interactive app! 
</div>

<div>
    <a href="/directory">
        <button class = "btnbtn btn-4 btn-sep " style="width:350px" href="/directory">Start Studying</button>
    </a>
</div>

<div>
    <a href="/start">
        <button class = "btnbtn btn-4 btn-sep " style="width:350px"  href="/start">Ready for Quiz?</button>

    </a>
</div>


</div>



{% endblock %}
