{% extends "layout.html" %}

{% block content %}
<script>
   $(document).ready(function () {
        $("#learn").click(function (event) {
            console.log("next page")
            event.preventDefault()
            $(location).attr("href", "/learn")

</script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    crossorigin="anonymous">

<body class="coral">
    <div>
      Analyzing Balance Sheet
    </div>
   
</body>
{% endblock %}
