{% extends "layout.html" %}

{% block content %}
<script>
    let questionId = {{ questionId| tojson}}
    let questionRes = {{ questionRes| tojson}}

</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'quiz.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename = 'quiz.css') }}">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    crossorigin="anonymous">

<body class="coral">
    <div id="question-con">

    </div>
    <div class="text-right mt-3 pr-5">
        <button id="submit-button" disabled type="button" class="btn btn-secondary submit-button">Submit</button>
    </div>
</body>
{% endblock %}