{% extends "layout.html" %}

{% block content %}
<script>
    let data = {{data|tojson}} 
    let input_data = {{input_data|tojson}}

    
</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'learn.js') }}"></script>


<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" crossorigin="anonymous">

<body class ="coral">


<div id = "view_container" class = "">
    <div class = "row ">
    <div class = "col-md-8 green_background">
        <b><p class = "huge margin_view">{{input_data.name}}</p></b>
    </div>
    
    <div class = "col-md-4 background">    </div>
    </div>
<div class = "row ">
    <div class = "col-md-4 green_background">
        <b class ="big">Definition:</b>
        <div>{{input_data.summary}}</div>
    </div>
    <div class = "col-md-8 green_background">
        <b>
        </b>      
        <input type = "image" src = {{input_data.image}} alt = "Fail to load the image" width = 600px><br>
    </div>
    <div class = "col-md-4 background">
        <a class = "black" value = '1'>
        </a>
        
        <div class = "margin_view3">
            <div class = "margin_view2"><b >Property: </b>
                <ul> 
                {%for i in input_data.property %}
                    <li>{{i}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
</div>
</div>

<div id="return_container">
    <button id="return_button" class = "btn">Return</button>
</div>

</body>
{% endblock %}



